In [10]:
from bs4 import BeautifulSoup
from requests import get
import pandas as pd
import itertools
import matplotlib.pyplot as plt
import seaborn as sns
import html5lib
sns.set()

headers = ({'User-Agent':
            'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36'})

In [83]:
url

'https://www.domain.com.au/sale/?suburb=adelaide-sa-5000,melbourne-vic-3000,sydney-nsw-2000&page=2'

In [34]:
import time
from random import randint

print("START!")

#complete web scrapper

#intialisation for vector

address = []
urls = []
prices = []
postcode= []

pageno = 0
count = 0

postcode_search = [6431, 872, 862, 6762, 6770, 6765, 4892, 6635, 6434, 6452, 2836, 5720, 5733, 
                   5719, 5717, 5440, 5732, 4493, 4491, 4475, 4474, 4733, 2839]

url_list = ['https://www.domain.com.au/sale/feysville-wa-6431/',
           'https://www.domain.com.au/sale/ampilatwatja-nt-0872/',
           'https://www.domain.com.au/sale/newcastle-waters-nt-0862/',
           'https://www.domain.com.au/sale/telfer-wa-6762/',
           'https://www.domain.com.au/sale/mcbeath-wa-6770/',
           'https://www.domain.com.au/sale/fitzroy-crossing-wa-6765/house/',
           'https://www.domain.com.au/sale/lyndside-qld-4892/',
           'https://www.domain.com.au/sale/south-murchison-wa-6635/',
           'https://www.domain.com.au/sale/parkeston-wa-6434/',
           'https://www.domain.com.au/sale/cape-arid-wa-6452/',
           'https://www.domain.com.au/sale/wilcannia-nsw-2836/',
           'https://www.domain.com.au/sale/woomera-sa-5720/',
           'https://www.domain.com.au/sale/callanna-sa-5733/',
            'https://www.domain.com.au/sale/coondambo-sa-5719/',
           'https://www.domain.com.au/sale/uno-sa-5717/',
           'https://www.domain.com.au/sale/olary-sa-5440/house/',
           'https://www.domain.com.au/sale/nepabunna-sa-5732/',
           'https://www.domain.com.au/sale/hungerford-qld-4493/',
           'https://www.domain.com.au/sale/eulo-qld-4491/',
           'https://www.google.com/',
           'https://www.domain.com.au/sale/adavale-qld-4474/',
           'https://www.domain.com.au/sale/corfield-qld-4733/',
           'https://www.domain.com.au/sale/gongolgon-nsw-2839/']




for y in range(0,len(postcode_search)):
    
    pageno = 0;
    
    for x in range(0,200):

        pageno+=1

        url_first = url_list[y] + "?page=" 
        
        url = url_first + str(pageno)

        response = get(url, headers=headers)
        html_soup = BeautifulSoup(response.text, 'html5lib')

        house_containers = html_soup.find_all('div', class_="css-1mf5g4s")


        #get all details


        if house_containers != []:
            target = house_containers[0]

            listing = []

            listing = target.find_all('li')


            for i in range(0, len(target.find_all('li'))):
                if listing[i].find_all('span', itemprop='streetAddress') == []:
                    pass
                else:
                    #get price
                    prices.append(listing[i].find_all('p')[0].text)
                    count+=1


                    #get url
                    urls.append(listing[i].find_all('div', class_='css-qrqvvg')[0].find_all('link')[0]['href'])


                    #get address
                    address.append(listing[i].find_all('span', itemprop='streetAddress')[0].text)

                    #get postcodes
#                   postcode.append(listing[i].find_all('h2')[0].find_all('span', itemprop="postalCode")[0].text)
                    postcode.append(postcode_search[y])

        else:
            break
        
    print(postcode_search[y], "DONE! ")


#fix the prices list

for x in range(0,len(prices)):
    prices[x] = prices[x].replace('Offers over', '')
    prices[x] = prices[x].replace('Price Guide', '')
    prices[x] = prices[x].replace('$','')
    prices[x] = prices[x].replace(' ','')
    prices[x] = prices[x].replace('.','')
    prices[x] = prices[x].replace('-','')
    prices[x] = prices[x].replace(',','')
    prices[x] = prices[x].replace('k','000')
    prices[x] = prices[x].replace(',','')
    prices[x] = prices[x].replace('to', '')
    prices[x] = prices[x].replace('~', '')

    try:
        prices[x] = int(prices[x])
    except ValueError:
        prices[x] = 0

    temporary = ''

    if len(str(prices[x]))>10:
        limit = int(len(str(prices[x]))/2)

        for i in range (0,limit):
            temporary = temporary + str(prices[x])[i]

        prices[x] = int(temporary)

        temporary = ''

    if str(prices[x])[len(str(prices[x]))-1]== "m":
        prices[x] = (int(prices[x]))*1000000


#cols = ['Address', 'Price', 'Url', 'Postcode']

cols = ['Postcode', 'Price']

#house_list = pd.DataFrame({'Address':address,'Price': prices,'Url': urls, 'Postcode': postcode})[cols]

house_list = pd.DataFrame({'Postcode':postcode, 
                           'Price': prices})

print("You scraped",pageno, "pages with",count,"properties.")

house_list

print("DONE!")

START!
6431 DONE!
872 DONE!
862 DONE!
6762 DONE!
6770 DONE!
6765 DONE!
4892 DONE!
6635 DONE!
6434 DONE!
6452 DONE!
2836 DONE!
5720 DONE!
5733 DONE!
5719 DONE!
5717 DONE!
5440 DONE!
5732 DONE!
4493 DONE!
4491 DONE!
4475 DONE!
4474 DONE!
4733 DONE!
2839 DONE!
You scraped 51 pages with 3232 properties.
DONE!

In [35]:
house_list

      Postcode   Price
0         6431       0
1         6431  349000
2         6431  249000
3         6431  329000
4         6431  475000
...        ...     ...
3227      2839       0
3228      2839       0
3229      2839       0
3230      2839       0
3231      2839  245000

[3232 rows x 2 columns]

In [36]:
house_list.to_csv("Data/Raw/Lost/New.csv", sep=',')

In [6]:
prices

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1600000,
 1375000,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 12500,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 988000,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 988000,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [2]:
len(test)

277

In [2]:
pip install google

Requirement already satisfied: google in /opt/anaconda3/lib/python3.7/site-packages (3.0.0)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.7/site-packages (from google) (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in /opt/anaconda3/lib/python3.7/site-packages (from beautifulsoup4->google) (1.9.3)
WARNING: You are using pip version 20.0.2; however, version 20.2.4 is available.
You should consider upgrading via the '/opt/anaconda3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
from googlesearch import search 

try: 
    from googlesearch import search 
except ImportError:  
    print("No module named 'google' found") 
  
# to search 
query = "Geeksforgeeks"

for i in range(1,2):
    y = search(query, tld="co.in", num=1, stop=1)
    print(y)

<generator object search at 0x105001750>

In [28]:
test = 'https://www.domain.com.au/sale/trafalgar-wa-6431/?page=2'

print(test+'https://www.domain.com.au/sale/trafalgar-wa-6431/?page=2')

https://www.domain.com.au/sale/trafalgar-wa-6431/?page=2https://www.domain.com.au/sale/trafalgar-wa-6431/?page=2